.container {
    display: flex;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 2%;
  }
.rectangle-4,
.rectangle-4 * {
  box-sizing: border-box;
}
.rectangle-4 {
  background: #0056b3;
  border-radius: 20px;
  width: 7px;
  height: 50px;
  position: relative;
}

.heading{
    color: #0056b3;
   font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
padding-left: 1%;
}
.assignments-container {
  background-color: #f4f7fc;
  padding: 20px;
}

.assignment-card {
  background-color: #e8f0fe;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.assignment-title {
  color: #0056b3;
}

.assignment-details {
  color: #007bff;
}

.assignment-due {
  color: #343a40;
}

.button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

.typography-h4 {
  color: #343a40;
}

.timetable-list {
  color: #0056b3;
}

.timetable-item {
  background-color: #ffffff;
  border-bottom: 1px solid #007bff;
}

.logout-button {
  background-color: #dc3545;
  color: white;
  margin-left: auto;
}

.logout-button:hover {
  background-color: #c82333;
}
